@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

/* Initialisation principale */
body {
    background-image: url(../images/bg.png);
}

label, option {
    color: #000;
}

ul {
    list-style: none;
    display: flex;
}

/* Initialisation de la typographie */
h1,h2,p,i,label,ol{
    color:#fff;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

p,i,label,ol{
    font-size: 16px;
    line-height: 20px;
}

h1,i{
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}

h1{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

h2{
    margin: 5px;
    font-size: 22px;
}

i{
    font-size: 20px;
}

a{
    color: #fff;
}

li{
    margin: 5px;
}
ol {
    margin: 0px 20px;
}

/* Initialisaion du formulaire */
form{
    margin-left: 7px;
}

hr{
    border-top: dotted 5px #fff;
    border-bottom: none;
}

.box {
    width: 515px;
    margin: auto;
    padding: 0px 10px 10px ;
    background-color: #0B6395;
    border: 3px #2685BC solid;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.box_entete{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.box_information{
    margin-left: 10px;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    height: 15px;
    width: 15px;
    padding: 15px;
    border: 3px #2685BC solid;
    border-radius: 5px;
    align-content: center;
}

.box_titre{
    padding: 20px 50px;
    margin: 0px 20px 0px 20px;
    background-color: #0E3955;
    border-left: 3px #2685BC solid;
    border-right: 3px #2685BC solid;
    border-bottom: 3px #2685BC solid;
    border-radius: 0px 0px 10px 10px;
    align-content: center;
}

.box_erreur{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #810000;
    border: 3px #DA5555 solid;
    border-radius: 5px;
}

.box_erreur p{
    margin-left: 5px;
}

.box_body{
    margin: 10px 75px 10px 75px;
}

.alignement{
    display: block;
	width: 150px;
	float: left;
}

.box_form{
    margin: 5px 0px;
}

.box_form input,select{
    border: 1px solid #4D4D4D;
    padding: 3px;
    border-radius: 3px;
}

.dirTete_item{
    display: inline-block;
    margin: 0px  10px 15px 0px;
    height: 55px;
    width: 55px;
    background-color: #fff;
    border: 3px #2685BC solid;
    border-radius: 5px;
}

.dirTete_item input{
    margin-left: 20px;
}

.dirCorps_item{
    display: inline-block;
    margin: 0px  10px 15px 0px;
    height: 110px;
    width: 70px;
    background-color: #fff;
    border: 3px #2685BC solid;
    border-radius: 5px;
}

.dirCorps_item input{
    margin-top: 10px;
    margin-left: 25px;
}

.box_btn{
    text-align: center;
}

.box_btn input{
    padding: 10px 40px;
    margin: 5px;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn_envoyer{
    background-color: #00813E;
    border: 3px solid #8EDA55;
}

.btn_reset{
    background-color: #810000;
    border: 3px solid  #DA5555;
}

.btn_envoyer:hover{
    background-color: #00ab54;
    border-color: #b9f373;
}

.btn_reset:hover{
    background-color: #ab0000;
    border: 3px solid #f37373;
}

/* Initialisation pour la page résultat */
.box_resultat{
    text-align: center;
}

.box_image{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 13.75em;
    height: 13.75em; 
    background-color: #fff;
    border: 3px #2685BC solid;
    border-radius: 100%;
}

/* Initialisation pour la page d'aide */
.para_aide{
    margin:0px 20px;
}